@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #f37820;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #ffffff;
    --cor-hover: #183D3D;
    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}


body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-terciaria);
    text-decoration: none;
    
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-style: normal;;
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;

    font-weight: 600;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration:none;
    color: var(--cor-hover);
    font-family: var(--fonte-secundaria);

    display: flex;
    justify-content: center;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__link {
    /* background-color: #22D4FD; */
    
    
    
    width: 747px;
    height: 972px;
    
    

    background-color: var(--cor-secundaria);
}

.apresentacao__links__link__p {
    /* background-color: #22D4FD; */
    
    
    
    width: 747px;
    height: 500px;
    
    

    background-color: var(--cor-secundaria);
}


.apresentacao__links__link__abaixo {
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 0.5px solid var(--cor-hover);
    width: 656px;
    height: 12px;
    text-align: center;
    border-radius: 8px;
    font-weight: 400;
    font-size: 1rem;
    
    padding: 21.5px 0;
    text-decoration:none;
    color: var(--cor-hover);
    font-family: var(--fonte-secundaria);

    background-color: var(--cor-secundaria);

    margin-top: 50px;
    margin-left: 50px;
    
}



/*.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
}*/

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    padding: 24px;
    text-align: center;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 400;  
    
}

@media (max-width: 1200px) {

    .cabecalho{
        padding: 6%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

}


.botao__enviar {
    width: 40%;
    height: 5%;
    padding: auto;
    gap:  8px;
    margin-left: 50%;
    margin-top: 3%;
    border: 0.5px solid var(--cor-hover);
    border-radius: 10px;
    background-color: #f37820;
    text-decoration:none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1rem;
}
.botao__login {
    width: 40%;
    height: 10%;
    padding: auto;
    gap:  8px;
    margin-left: 32%;
    margin-top: 3%;
    border: 0.5px solid var(--cor-hover);
    border-radius: 10px;
    background-color: #f37820;
    text-decoration:none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1rem;
}
